/* Font families */
.titles-font {
    font-family: "Poppins", sans-serif;
  }
  
  .text-font {
    font-family: "Rubik", sans-serif;
  }
  
  /* Font sizes */
  .h1 {
    font-size: 5.2rem;
  }
  
  .h2 {
    font-size: 4.2rem;
  }
  
  .h3 {
    font-size: 2.4rem;
  }
  
  .h4 {
    font-size: 2.2rem;
  }
  
  .p {
    font-size: 1.6rem;
  }
  
  .input {
    font-size: 1.4rem;
  }
  